body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    padding: 20px;
    align-items: center;
}
h1 {
    color: #333;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.cardapio {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    display: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.cardapio h2 {
    margin: 10px 0;
    color: #333;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}
#resultado {
    display: none;
}
select {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.verificado{
    font-size: 12px;
}

